<!DOCTYPE html>
<html ng-app="userProfiles">
<head>
    <meta charset="utf-8">
    <title>mini-userProfiles</title>
    <link rel="stylesheet" href="styles.css"></link>
</head>
<body ng-controller="MainController">

    <div class="userCard" ng-repeat="user in users" ng-click="toggleFav(user.id)" ng-class="{favorite: user.isFavorite}"">
      <img src="{{user.avatar}}" width=50px height=50px />
      <p>First Name: {{user.first_name}}</p>
      <p>Last Name: {{user.last_name}}</p>
    </div>

     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
     <script src="app.js"></script>
     <script src="controller.js"></script>
     <script src="mainService.js"></script>
</body>
</html>
