.planet-image {
  width: 25%;
  border: 3px solid green;
}

.pb-title {
  font-size: 30px;
  color: blue;
}

.planet-selector {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  width: 200px;
  font-size: 30px;

}
